body {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

.header {
    background-image: url(../img/SectionsBackground/section-1%20header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1010px;
}

.container {
    width: 1160px;
    margin: auto;
}

.top-menu {
    background-color: rgba(73, 71, 63, 0.6);
    height: 120px;
    /*    position: fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
}

.header-flex {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 57px;
    height: 67px;
    color: #fff;
    font-size: 40px;
    line-height: 31px;
    background-image: url(../img/icons/Polygon.png);
    background-repeat: no-repeat;
}

.logo-text {
    margin-left: 10px;
    color: #fff;
    font-weight: lighter;
    font-size: 32px;
    line-height: 31px;

}

.part-logo {
    color: rgba(24, 207, 171);
    font-weight: bold;
    font-size: 32px;
    line-height: 31px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item {
    text-decoration: none;
    font-size: 13px;
    line-height: 42px;
    color: rgb(186, 186, 186);
    text-transform: uppercase;
    margin-right: 20px;
}

.menu-item:hover {
    color: #18cfab;

}

.menu-item:hover::after {
    content: "";
    display: block;
    height: 1px;
    width: inherit;
    background-color: #18cfab;
    position: relative;
    top: 40px;
}

/*slogans*/

.head-slogan-part1 {
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    line-height: 10px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 250px;
}

.head-slogan-part1-2 {
    color: #18cfab;

}

.head-slogan-part2 {
    color: #ffffff;
    font-size: 79px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 74px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin-top: 45px;
    text-transform: uppercase;
}

.head-slogan-part3 {
    color: #d4d4d4;
    font-size: 34px;
    font-weight: 300;
    line-height: 74px;
    text-align: center;
    margin-top: 40px;
}

.two-butons {
    text-align: center;
    margin-top: 140px;
}

.head-btn {
    border: none;
    border-radius: 4px;
    border-top: 3px solid white;
    background-color: #18cfab;
    width: 165px;
    height: 60px;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    margin-left: 30px;
}

.head-btn:hover, .sell-btn:hover {
    background-color: #00cbf6;
}


/*---block-2-Squars*/

.squrs {
    display: flex;
}

.dark-squar {
    width: 25%;
    height: 375px;
    background-color: #1c2a33;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 4px solid #18cfab;
    box-sizing: content-box;
}

.dark-squar-text {
    color: #18cfab;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 50px;
}

.blue-square {
    width: 25%;
    height: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    background-color: #18cfab;
    border-top: 4px solid #fff;

}

.blue-squar-text {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 50px;
}

/*---block-3-Our-Services*/

.section-slogan {
    color: #4e4e4e;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin-top: 110px;
}

.blue-lines::after {
    content: "";
    display: block;
    height: 3px;
    width: 75px;
    border-top: 1px solid #18cfab;
    border-bottom: 1px solid #18cfab;
    margin: 35px auto 70px auto;
    transform: skewX(70deg);
}

.services-menu {
    display: flex;
}

.services-menu-item {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #717171;
    background-color: #f8fcfe;
    border: 1px solid #eeeeef;
    height: 70px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.services-content {
    margin-top: 25px;
    margin-bottom: 100px;
    display: flex;
    align-items: flex-start;
}

.services-menu-describe {
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    margin-left: 20px;
    line-height: 25px;
}

.active {
    background-color: #18cfab;
    color: #fff;
}

.active::after {
    content: "";
    background-image: url(../img/icons/Rectangle%2060.png);
    width: 24px;
    height: 13px;
    position: absolute;
    bottom: -12px;
    left: calc(50%-7px);
}

.active {
    background-color: #18cfab;
    color: #fff;
}

/*---block-4-SELL*/

.sell {
    background: url(../img/SectionsBackground/section-2.jpg) center center no-repeat;
    background-color: rgba(0, 0, 0, 0.78);
    background-blend-mode: multiply;
    text-align: center;
}

.sell-slogan {
    text-transform: uppercase;
    color: #18cfab;
    font-size: 40px;
    font-weight: 700;
    padding-top: 125px;
}

.sell-slogan-2 {
    color: #d8d8d8;
    font-size: 16px;
    font-weight: 400;
    margin-top: 35px;
}

.sell-btn {
    border: none;
    border-radius: 4px;
    border-top: 3px solid white;
    background-color: #18cfab;
    width: 165px;
    height: 60px;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 130px;
}


/*---block-5-Our Amazing Work,      Load More*/

.works-menu-item {
    color: #717171;
    font-size: 14px;
    font-weight: 400;
    line-height: 42px;
    border: 1px solid #ececec;
    padding: 10px 20px;
    cursor: pointer;
    box-sizing: border-box;
}

.active-works {
    border-top: 2px solid #18cfab;
    color: #18cfab;
}

.works-pictures {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 70px;
}

.works-blok {
    position: relative;
    height: 207px;
    width: 286px;
}

.search {
    position: absolute;
    width: 284px;
    height: 206px;
    border-top: 2px solid #18cfab;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    top: 0;
    left: 0;
    transition: 0.1s;
}

.circle1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #18cfab;
}

.circle2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #18cfab;
    margin-left: 5px;
}


.icons {
    display: flex;
    justify-content: center;
}

.search-text1 {
    color: #18cfab;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    padding-top: 20px;
}

.search-text2 {
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 300;
    line-height: 10px;
}


.btn-load {
    position: relative;
    border: none;
    border-radius: 4px;
    background-color: #18cfab;
    width: 165px;
    height: 60px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 42px;
    margin-top: 80px;
    cursor: pointer;
}

.btn-plus {
    margin-right: 15px;
}

.width-inherit {
    width: inherit;
}

.flex-center-wrap {
    display: flex;
    justify-content: center;
    align-items: ce nter;
    flex-wrap: wrap;
}

.works-blok:hover .search {
    opacity: 1;
}

/*---block-6-Breaking News*/

.picture-news {
    width: 263px;
    height: 208px;
}

.date {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 65px;
    width: 70px;
    text-align: center;
    background-color: #203e38;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data-item {
    color: #ffffff;
    font-size: 15.99px;
    font-weight: 400;
    line-height: 26px;
}

.info-under-news {
    height: 75px;
    width: 263px;
    background-color: #f8fcfe;
}

.info-items {
    color: #717171;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    padding-left: 15px;
}

.news {
    width: 263px;
    position: relative;
    margin-bottom: 45px;
    text-decoration: none;
}


.info-items2 {
    color: #777777;
    font-size: 13.99px;
    font-weight: 300;
    line-height: 40px;
    padding-left: 20px;
}

.placing {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.news:hover > .date {
    background-color: #18cfab;
}

.news:hover > div > .info-items {
    color: #18cfab;
}


/*---block-last-Footer*/

.footer {
    background-color: rgb(34, 53, 63);
    height: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Copyright {
    font-weight: lighter;
    font-size: 14pt;
    color: rgba(174, 174, 174, 255);

}

.part-footer {
    color: rgba(24, 207, 171);
}

.flex-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}


















.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}













.AboutHam {
    background: url(../img/SectionsBackground/section-3.jpg) no-repeat;
    height: 855px;
    background-size: cover;

}

.text-center {
    text-align: center;
}

.describe {
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    margin: 40px 0px;
}



.section-slogan-white {
    color: #fff;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin-top: 130px;
    padding-top: 100px;
}

.main {
    width: 900px;
    margin: auto;
}



.slider-nav {
    width: 420px;
    margin: auto;
}

.slider-nav-slide {
    outline: none;
    padding: 20px;
}

.person-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid #18cfab;
    box-shadow: 0 0 0px 11px rgba(31, 218, 181, 0.2);
    margin: auto;
}

.slider-for {
    margin-bottom: 70px;
}

.slider-nav-img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: 0 0 0px 4px rgba(31, 218, 181, 0.2);
    margin: auto;
}

.name {
    color: #18cfab;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
    text-align: center;
}

.post {
    color: #bbbbbb;
    font-size: 13px;
    font-weight: 300;
    line-height: 27px;
    text-align: center;
    margin-bottom: 25px;
}

.slick-prev,
.slick-next {
    width: 31px;
    height: 31px;
    border: 1px solid #aaa;
}

.slick-prev:hover,
.slick-next:hover {
    background-color: #18cfab;
    border: none;
}
.slick-next::before{
    content: url(../img/icons/arowWhite.png);
    position: absolute;
    left: calc(50% - 4px);
    top: calc(50% - 11px);
}
.slick-prev::before{
    content: url(../img/icons/arowWhite2.png);
    position: absolute;
    left: calc(50% - 4px);
    top: calc(50% - 11px);
}
.slider-for-slide {
    padding-bottom: 15px;
    outline: none;
}

.slick-current img {
    border: 1px solid #18cfab;
}

.slider-nav .slick-current {
    position: relative;
    top: -10px;
}